<script async defer src="https://apis.google.com/js/api.js" id="gapiScript"></script>

{{#d-modal-body
        title="video_upload.modal_title"
        class="video-upload-modal"
        }}
    <input type="file" id="video-file" accept="video/*" />

    <div class="video-upload-status">
        {{#if isAuthing}}
            Authenticating...
        {{/if}}
        {{#if isUploading}}
            Uploading {{uploadProgress}}%
        {{/if}}
        {{#if isProcessing}}
            Transcoding video <div class="spinner"></div>
        {{/if}}
        {{#if processingError}}
            <span style="color: red">Error transcoding video.</span>
        {{/if}}
    </div>

    <div class="modal-footer">
        {{d-button action=(action "vimeoUpload") id="vimeo-upload-btn" class="btn-primary" icon="fab-vimeo-v" label="upload-vimeo"}}
        {{d-button action=(action "youtubeUpload") id="youtube-upload-btn" class="btn-primary" icon="fab-youtube" label="upload-youtube"}}
    </div>
{{/d-modal-body}}