.discourse-vimeo-upload {
}

.vimeo-upload-button, .youtube-upload-button {
  display: inline;
}

.video-upload-modal {
  .video-upload-status {
    margin: 15px 0;

    .spinner {
      height: 10px;
      width: 10px;
      margin: 0;
      display: inline-block;
    }
  }
}