{{d-button action="vimeoUpload" class="btn-primary" icon="fab-vimeo-v" label="upload-vimeo"}}
{{#if isUploading}}
    Uploading {{uploadProgress}}%
{{/if}}
{{#if isProcessing}}
    Transcoding video <div class="spinner" style="height: 10px;width: 10px;margin: 0;display: inline-block;"></div>
{{/if}}
{{#if processingError}}
    <span style="color: red">Error transcoding video.</span>
{{/if}}